<div class="container" (scroll)="scroll($event)">
  <h5 class="container__h5">Filter by keywords</h5>
  <input
    class="container__input"
    type="text"
    placeholder="search"
    (input)="onSearch($event)"
  />
  <img class="container__img" src="search.svg" alt="🔍" />
  <h5 class="container__h5 container__h5_results">
    @if (currentSearch.length && resultsForTitleAmountSignal() !== null &&
    resultsForSummaryAmountSignal() !== null) { Results:
    {{ resultsForTitleAmountSignal()! + resultsForSummaryAmountSignal()! }} }
    @else { Results: {{ articlesCount }}
    }
  </h5>

  @if (filteredArticles.length || articles.length) {
  <div class="container__articles">
    @for (article of currentSearch.length ? filteredArticles : articles; track
    $index) {
    <app-article-card
      (click)="openExternal(article.url)"
      [article]="article"
      [currentSearch]="currentSearch"
    ></app-article-card>
    }
  </div>
  } @if (loading) {
  <p class="container__spinner">
    <mat-spinner [diameter]="30"></mat-spinner>
  </p>
  }
</div>
